body{
	background-color: black;
	background-image: url(../img/forest.jpg);
	background-repeat: no-repeat;
	background-position: relative;
	background-size: cover;
	margin: 0px;
}

hr{
	width: 800px;
	max-width: 50vw;
	min-width: 30vw;
}

.directory{
	font-family: Montserrat, sans-serif;
	color: white;
	display: inline-block;
	width: 200px;
	max-width: 70vw;
	font-size: 24px;
	letter-spacing: 2px;
}

#logo{
	width: 800px;
	max-width: 50vw;
	min-width: 30vw;
	align-content: center;
}

#strip{
	text-align: center;
	margin: auto;
	padding: 0px;
	border-style: border-box;
	background-color: black;
	width: 80vw;
	height: 100vh;
	opacity: 95%;
	box-shadow: 0 0 20px 20px black;
}
